# LOCATING AN AFRICAN RESTAURANT IN TORONTO
_BATTLE OF THE NEIGHBOURHOODS: An Analysis of Neighbourhoods in the city of Toronto using Machine Learning._

## Data

For this project, we will combine three datasets to achieve our goal.

The first source of data is Wikipedia. We will scrap the Wikipedia website for neighborhoods in Toronoto using Beautiful Soup.

We will then use data of geographical coordinates gotten from previous exercises in this program.

And finally, we will use the Foursquare location data to solve the problem or execute your idea. You can absolutely use other datasets in combination with the Foursquare location data.

These data combination will be the ingredients we use in cooking our location for an African Restaurant in North York, Toronto.

#### Scraping Website For Data

As a form of data mining, the Wikipedia website was scrapped and the data gotten was transformed into a dataframe for analysis.

## Data Cleaning and Preparation

  PostalCode      Borough                              Neighborhood
0        M1B  Scarborough                           Malvern , Rouge
1        M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2        M1E  Scarborough       Guildwood , Morningside , West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

#### Attaching Coordinates to DataFrame

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Define Foursquare Credentials and Version

In [57]:
# DELETE BEFORE PUBLISHING

CLIENT_ID = '' # your Foursquare ID
CLIENT_SECRET = '' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

### Exploring North York

In [48]:
NYork_data = Final_Toronto_df[Final_Toronto_df['Borough'] == "North York"].reset_index(drop=True)
NYork_data.head()

  PostalCode     Borough                    Neighborhood   Latitude  Longitude
0        M2H  North York               Hillcrest Village  43.803762 -79.363452
1        M2J  North York  Fairview , Henry Farm , Oriole  43.778517 -79.346556
2        M2K  North York                 Bayview Village  43.786947 -79.385975
3        M2L  North York       York Mills , Silver Hills  43.757490 -79.374714
4        M2M  North York        Willowdale , Newtonbrook  43.789053 -79.408493

Let's get the geographical coordinates of North York.

In [49]:
address = 'North York Toronto' # Name of the city we want the location coordinates

geolocator = Nominatim(user_agent="T_explorer")  # User Agent. Any name can be used
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of North York are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of North York are 43.7543263, -79.44911696639593.

#### Link to complete project:
https://github.com/Moses-Adinfono/Coursera/blob/main/LocatingAnAfricanRestaurantInToronto.ipynb